<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

    autoReload="true"
    throwExceptions="false"

    internalLogLevel="Warn"
    internalLogFile="D:/Clavire/_logs/_nlog_internal.txt">


    <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->

    <!-- File Targets Paths -->
    <variable name="errorsLogPath"      value="D:/Clavire/_logs/_errors.txt" />
    <variable name="farmingLogPath"     value="D:/Clavire/_logs/${shortdate}_farm.txt" />
    <variable name="farmingDetailedLogPath"     value="D:/Clavire/_logs/${shortdate}_farm_all.txt" />

    <!-- Messages Layouts -->
    <variable name="rawExceptionLayout" value="${exception:format=Type,Message,StackTrace:innerFormat=Type,Message,StackTrace:maxInnerExceptionLevel=5:separator=&#13;&#10;&#32;:innerExceptionSeparator=&#13;&#10;&#32;}"/>
    <variable name="exceptionLayoutWrapper" value="${onexception:Exception occurred in ${callsite:className=false:fileName=true:includeSourcePath=false:methodName=true}\:${newline} ${rawExceptionLayout}}"/>
    <variable name="briefLayout" value="${time}  ${level:upperCase=true}   ${message} ${exceptionLayoutWrapper}"/>
    <variable name="fullLayout"  value="${longdate}  ${level:upperCase=true}   ${message}   ${machinename} ${logger} ${callsite:className=false:fileName=true:includeSourcePath=false:methodName=true} ${onexception:${newline} ${rawExceptionLayout}}"/>


    <targets async="false">
        <target name="coloredConsole"     xsi:type="ColoredConsole" layout="${briefLayout}"/>
        <target name="errorsLogFile"      xsi:type="File" layout="${fullLayout}"  fileName="${errorsLogPath}" />
        <target name="farmingLogFile"     xsi:type="File" layout="${briefLayout}" fileName="${farmingLogPath}" />
        <target name="farmingDetailedLogFile"     xsi:type="File" layout="${briefLayout}" fileName="${farmingDetailedLogPath}" />
    </targets>

  <rules>
      <logger name="*" minlevel="Error" writeTo="errorsLogFile"/>

      <logger name="*" minlevel="Info"  writeTo="farmingLogFile"/>
      <!-- <logger name="*" minlevel="Trace" writeTo="farmingDetailedLogFile"/> -->
  </rules>
</nlog>


